.footer {
    grid-area: footer;
    background: $red;
    color: $white;
    padding: 3.571em 0 2.143em;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;

    @include respond-to(medium) {
        flex-direction: row;
        justify-content: space-around;
    }
}
