.header {
    grid-area: header;
    padding: 5.571em 0 3.571em;
    background: $gray;
    text-align: center;
    font-weight: 600;

    @include respond-to(medium) {
        padding-top: 7.571em;
    }

    h1 {
        font-family: 'Source Sans Pro', sans-serif;
    }
}
