.task-three {
    grid-area: taskthree;
}

.modal-header {
    border-bottom: 1px solid $black;
}

.button {
    display: block;
    margin: 0 auto;
}

.tab-pane {
    padding: 1em;
}

.nav-item {
    a {
        color: $red;
        outline: none;
    }
}
