.task-wrapper {
    grid-area: taskwrap;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    margin: 0 1em;

    @include respond-to(medium) {
        flex-direction: row;
    }
}

.task-one {
     @include respond-to(medium) {
         flex: 1;
         display: flex;
         flex-direction: column;
         position: relative;
         min-height: 30em;
     }
}


.task-list {
    list-style: initial;
    padding-left: 1em;
}

.task-list-item {
    line-height: 1.2;
    margin-bottom: .2em;
}

.square-wrapper {
    margin: 2em auto 0 auto;
    width: 200px;
    height: 200px;
    border: 1px solid $black;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to(medium) {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 0;
    }
}

.square-one {
    border: 1px solid $red;
    background: $red;
    width: 50px;
    height: 50px;
    transition: 1s all;
    cursor: pointer;
}

.grow {
    width: 100px;
    height: 100px;
}
